<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="jsonData" type="imgmrg.Config.JsonConfigSection, imgmrg" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <jsonData>
    <jsonFiles>
      <add name="imgmrg">
        <![CDATA[
{
  transformations:[
    {
      input_rgb:"C:\\Code\\local\\imgmrg\\Files\\rgb.png",
      input_a:"C:\\Code\\local\\imgmrg\\Files\\a.png",
      output:"C:\\Code\\local\\imgmrg\\Files\\output.png"
    }
  ]
}
        ]]>
      </add>
    </jsonFiles>
  </jsonData>
</configuration>